<p><table border="1px" style="background-color:lightgray" cellpadding=3>
<tr><td width="150"><a href="html/*.html">*</a></td><td width="300">multiply quaternion by a quaternion or vector</td></tr>
<tr><td width="150"><a href="html/*.html">*</a></td><td width="300">compound two robots</td></tr>
<tr><td width="150"><a href="html//.html">/</a></td><td width="300">divide quaternion by quaternion or scalar</td></tr>
<tr><td width="150"><a href="html/about.html">about</a></td><td width="300">summary of object size and type</td></tr>
<tr><td width="150"><a href="html/angdiff.html">angdiff</a></td><td width="300">subtract 2 angles modulo 2pi</td></tr>
<tr><td width="150"><a href="html/angvec2r.html">angvec2r</a></td><td width="300">angle/vector to RM</td></tr>
<tr><td width="150"><a href="html/angvec2tr.html">angvec2tr</a></td><td width="300">angle/vector to HT</td></tr>
<tr><td width="150"><a href="html/Bug2.html">Bug2</a></td><td width="300">bug navigation</td></tr>
<tr><td width="150"><a href="html/circle.html">circle</a></td><td width="300">compute/draw points on a circle</td></tr>
<tr><td width="150"><a href="html/colnorm.html">colnorm</a></td><td width="300">columnwise norm of matrix</td></tr>
<tr><td width="150"><a href="html/ctraj.html">ctraj</a></td><td width="300">Cartesian trajectory</td></tr>
<tr><td width="150"><a href="html/delta2tr.html">delta2tr</a></td><td width="300">differential motion vector to HT</td></tr>
<tr><td width="150"><a href="html/DHFactor.html">DHFactor</a></td><td width="300">convert elementary transformations to DH form</td></tr>
<tr><td width="150"><a href="html/DHFactor.html">DHFactor</a></td><td width="300">transform sequence to DH description</td></tr>
<tr><td width="150"><a href="html/diff2.html">diff2</a></td><td width="300">elementwise diff</td></tr>
<tr><td width="150"><a href="html/distancexform.html">distancexform</a></td><td width="300">compute distance transform</td></tr>
<tr><td width="150"><a href="html/Dstar.html">Dstar</a></td><td width="300">D* planner</td></tr>
<tr><td width="150"><a href="html/DXform.html">DXform</a></td><td width="300">distance transform from map</td></tr>
<tr><td width="150"><a href="html/e2h.html">e2h</a></td><td width="300">Euclidean coordinates to homogeneous</td></tr>
<tr><td width="150"><a href="html/eg_grav.html">eg_grav</a></td><td width="300">joint 2 gravity load g(q2,q3)</td></tr>
<tr><td width="150"><a href="html/eg_inertia.html">eg_inertia</a></td><td width="300">joint 1 inertia I(q1,q2)</td></tr>
<tr><td width="150"><a href="html/eg_inertia22.html">eg_inertia22</a></td><td width="300">joint 2 inertia I(q3)</td></tr>
<tr><td width="150"><a href="html/EKF.html">EKF</a></td><td width="300">extended Kalman filter object</td></tr>
<tr><td width="150"><a href="html/eul2jac.html">eul2jac</a></td><td width="300">Euler angles to Jacobian</td></tr>
<tr><td width="150"><a href="html/eul2r.html">eul2r</a></td><td width="300">Euler angles to RM</td></tr>
<tr><td width="150"><a href="html/eul2tr.html">eul2tr</a></td><td width="300">Euler angles to HT</td></tr>
<tr><td width="150"><a href="html/gauss2d.html">gauss2d</a></td><td width="300">Gaussian distribution in 2D</td></tr>
<tr><td width="150"><a href="html/h2e.html">h2e</a></td><td width="300">homogeneous coordinates to Euclidean</td></tr>
<tr><td width="150"><a href="html/homline.html">homline</a></td><td width="300">create line from 2 points</td></tr>
<tr><td width="150"><a href="html/homtrans.html">homtrans</a></td><td width="300">transform points</td></tr>
<tr><td width="150"><a href="html/ishomog.html">ishomog</a></td><td width="300">true if argument is a 4x4 matrix</td></tr>
<tr><td width="150"><a href="html/ismatrix.html">ismatrix</a></td><td width="300">true if non scalar</td></tr>
<tr><td width="150"><a href="html/isrot.html">isrot</a></td><td width="300">true if argument is a 3x3 matrix</td></tr>
<tr><td width="150"><a href="html/isvec.html">isvec</a></td><td width="300">true if argument is a 3-vector</td></tr>
<tr><td width="150"><a href="html/jtraj.html">jtraj</a></td><td width="300">joint space trajectory</td></tr>
<tr><td width="150"><a href="html/Link.html">Link</a></td><td width="300">construct a robot link object</td></tr>
<tr><td width="150"><a href="html/lspb.html">lspb</a></td><td width="300">1D trapezoidal trajectory</td></tr>
<tr><td width="150"><a href="html/Map.html">Map</a></td><td width="300">point feature map object</td></tr>
<tr><td width="150"><a href="html/mdl_Fanuc10L.html">mdl_Fanuc10L</a></td><td width="300">Fanuc 10L (DH, kine)</td></tr>
<tr><td width="150"><a href="html/mdl_MotomanHP6.html">mdl_MotomanHP6</a></td><td width="300">Motoman HP6 (DH, kine)</td></tr>
<tr><td width="150"><a href="html/mdl_puma560.html">mdl_puma560</a></td><td width="300">Puma 560 data (DH, kine, dyn)</td></tr>
<tr><td width="150"><a href="html/mdl_puma560akb.html">mdl_puma560akb</a></td><td width="300">Puma 560 data (MDH, kine, dyn)</td></tr>
<tr><td width="150"><a href="html/mdl_quadcopter.html">mdl_quadcopter</a></td><td width="300">simple quadcopter model</td></tr>
<tr><td width="150"><a href="html/mdl_robot.html">mdl_robot</a></td><td width="300">construct a robot object</td></tr>
<tr><td width="150"><a href="html/mdl_S4ABB2p8.html">mdl_S4ABB2p8</a></td><td width="300">ABB S4 2.8 (DH, kine)</td></tr>
<tr><td width="150"><a href="html/mdl_stanford.html">mdl_stanford</a></td><td width="300">Stanford arm data (DH, kine, dyn)</td></tr>
<tr><td width="150"><a href="html/mdl_twolink.html">mdl_twolink</a></td><td width="300">simple 2-link example (DH, kine)</td></tr>
<tr><td width="150"><a href="html/moveline.html">moveline</a></td><td width="300">non-holonomic vehicle moving to a line</td></tr>
<tr><td width="150"><a href="html/movepoint.html">movepoint</a></td><td width="300">non-holonomic vehicle moving to a point</td></tr>
<tr><td width="150"><a href="html/movepose.html">movepose</a></td><td width="300">non-holonomic vehicle moving to a pose</td></tr>
<tr><td width="150"><a href="html/mstraj.html">mstraj</a></td><td width="300">multi-axis multi-segment trajectory</td></tr>
<tr><td width="150"><a href="html/mtraj.html">mtraj</a></td><td width="300">multi-axis trajectory for arbitrary function</td></tr>
<tr><td width="150"><a href="html/Navigation.html">Navigation</a></td><td width="300">Navigation superclass</td></tr>
<tr><td width="150"><a href="html/numcols.html">numcols</a></td><td width="300">number of columns in matrix</td></tr>
<tr><td width="150"><a href="html/numrows.html">numrows</a></td><td width="300">number of rows in matrix</td></tr>
<tr><td width="150"><a href="html/oa2r.html">oa2r</a></td><td width="300">orientation and approach vector to RM</td></tr>
<tr><td width="150"><a href="html/oa2tr.html">oa2tr</a></td><td width="300">orientation and approach vector to HT</td></tr>
<tr><td width="150"><a href="html/ParticleFilter.html">ParticleFilter</a></td><td width="300">Monte Carlo estimator</td></tr>
<tr><td width="150"><a href="html/Pgraph.html">Pgraph</a></td><td width="300">general purpose graph class</td></tr>
<tr><td width="150"><a href="html/plot2.html">plot2</a></td><td width="300">plot trajectory</td></tr>
<tr><td width="150"><a href="html/plot2.html">plot2</a></td><td width="300">Plot trajectories</td></tr>
<tr><td width="150"><a href="html/plot_arrow.html">plot_arrow</a></td><td width="300">draw an arrow</td></tr>
<tr><td width="150"><a href="html/plot_box.html">plot_box</a></td><td width="300">draw a box</td></tr>
<tr><td width="150"><a href="html/plot_circle.html">plot_circle</a></td><td width="300">draw a circle</td></tr>
<tr><td width="150"><a href="html/plot_ellipse.html">plot_ellipse</a></td><td width="300">draw an ellipse</td></tr>
<tr><td width="150"><a href="html/plot_homline.html">plot_homline</a></td><td width="300">plot homogeneous line</td></tr>
<tr><td width="150"><a href="html/plot_point.html">plot_point</a></td><td width="300">plot points</td></tr>
<tr><td width="150"><a href="html/plot_poly.html">plot_poly</a></td><td width="300">plot polygon</td></tr>
<tr><td width="150"><a href="html/plot_sphere.html">plot_sphere</a></td><td width="300">draw a sphere</td></tr>
<tr><td width="150"><a href="html/plot_vehicle.html">plot_vehicle</a></td><td width="300">plot vehicle</td></tr>
<tr><td width="150"><a href="html/plotbotopt.html">plotbotopt</a></td><td width="300"></td></tr>
<tr><td width="150"><a href="html/plotp.html">plotp</a></td><td width="300">plot points</td></tr>
<tr><td width="150"><a href="html/plotp.html">plotp</a></td><td width="300">Plot trajectories</td></tr>
<tr><td width="150"><a href="html/Polygon.html">Polygon</a></td><td width="300">general purpose polygon class</td></tr>
<tr><td width="150"><a href="html/PRM.html">PRM</a></td><td width="300">probabilistic roadmap planner</td></tr>
<tr><td width="150"><a href="html/qplot.html">qplot</a></td><td width="300">plot joint angle trajectories</td></tr>
<tr><td width="150"><a href="html/Quaternion.html">Quaternion</a></td><td width="300">constructor</td></tr>
<tr><td width="150"><a href="html/Quaternion.interp.html">Quaternion.interp</a></td><td width="300">interpolate a quaternion</td></tr>
<tr><td width="150"><a href="html/Quaternion.inv.html">Quaternion.inv</a></td><td width="300">invert a quaternion</td></tr>
<tr><td width="150"><a href="html/Quaternion.norm.html">Quaternion.norm</a></td><td width="300">norm of a quaternion</td></tr>
<tr><td width="150"><a href="html/Quaternion.plot.html">Quaternion.plot</a></td><td width="300">display a quaternion as a 3D rotation</td></tr>
<tr><td width="150"><a href="html/Quaternion.unit.html">Quaternion.unit</a></td><td width="300">unitize a quaternion</td></tr>
<tr><td width="150"><a href="html/r2t.html">r2t</a></td><td width="300">RM to HT</td></tr>
<tr><td width="150"><a href="html/ramp.html">ramp</a></td><td width="300">create linear ramp</td></tr>
<tr><td width="150"><a href="html/randinit.html">randinit</a></td><td width="300">initialize random number generator</td></tr>
<tr><td width="150"><a href="html/RandomPath.html">RandomPath</a></td><td width="300">driver for Vehicle object</td></tr>
<tr><td width="150"><a href="html/RangeBearingSensor.html">RangeBearingSensor</a></td><td width="300">"laser scanner" object</td></tr>
<tr><td width="150"><a href="html/rotx.html">rotx</a></td><td width="300">RM for rotation about X-axis</td></tr>
<tr><td width="150"><a href="html/roty.html">roty</a></td><td width="300">RM for rotation about Y-axis</td></tr>
<tr><td width="150"><a href="html/rotz.html">rotz</a></td><td width="300">RM for rotation about Z-axis</td></tr>
<tr><td width="150"><a href="html/rpy2jac.html">rpy2jac</a></td><td width="300">RPY angles to Jacobian</td></tr>
<tr><td width="150"><a href="html/rpy2r.html">rpy2r</a></td><td width="300">roll/pitch/yaw angles to RM</td></tr>
<tr><td width="150"><a href="html/rpy2tr.html">rpy2tr</a></td><td width="300">roll/pitch/yaw angles to HT</td></tr>
<tr><td width="150"><a href="html/RRT.html">RRT</a></td><td width="300">rapidly exploring random tree</td></tr>
<tr><td width="150"><a href="html/rt2tr.html">rt2tr</a></td><td width="300">(R,t) to HT</td></tr>
<tr><td width="150"><a href="html/rtdemo.html">rtdemo</a></td><td width="300">Serial-link manipulator demonstration</td></tr>
<tr><td width="150"><a href="html/se2.html">se2</a></td><td width="300">HT in SE(2)</td></tr>
<tr><td width="150"><a href="html/Sensor.html">Sensor</a></td><td width="300">robot sensor superclass</td></tr>
<tr><td width="150"><a href="html/SerialLink.html">SerialLink</a></td><td width="300">construct a serial-link robot object</td></tr>
<tr><td width="150"><a href="html/SerialLink.accel.html">SerialLink.accel</a></td><td width="300">forward dynamics</td></tr>
<tr><td width="150"><a href="html/SerialLink.cinertia.html">SerialLink.cinertia</a></td><td width="300">Cartesian manipulator inertia matrix</td></tr>
<tr><td width="150"><a href="html/SerialLink.coriolis.html">SerialLink.coriolis</a></td><td width="300">centripetal/coriolis torque</td></tr>
<tr><td width="150"><a href="html/SerialLink.fdyn.html">SerialLink.fdyn</a></td><td width="300">forward dynamics</td></tr>
<tr><td width="150"><a href="html/SerialLink.fkine.html">SerialLink.fkine</a></td><td width="300">forward kinematics</td></tr>
<tr><td width="150"><a href="html/SerialLink.friction.html">SerialLink.friction</a></td><td width="300">return joint friction torques</td></tr>
<tr><td width="150"><a href="html/SerialLink.gravload.html">SerialLink.gravload</a></td><td width="300">gravity loading</td></tr>
<tr><td width="150"><a href="html/SerialLink.ikine.html">SerialLink.ikine</a></td><td width="300">inverse kinematics (numeric)</td></tr>
<tr><td width="150"><a href="html/SerialLink.ikine6s.html">SerialLink.ikine6s</a></td><td width="300">inverse kinematics for 6-axis arm with sph.wrist</td></tr>
<tr><td width="150"><a href="html/SerialLink.inertia.html">SerialLink.inertia</a></td><td width="300">manipulator inertia matrix</td></tr>
<tr><td width="150"><a href="html/SerialLink.itorque.html">SerialLink.itorque</a></td><td width="300">inertia torque</td></tr>
<tr><td width="150"><a href="html/SerialLink.jacob0.html">SerialLink.jacob0</a></td><td width="300">Jacobian in base coordinate frame</td></tr>
<tr><td width="150"><a href="html/SerialLink.jacobn.html">SerialLink.jacobn</a></td><td width="300">Jacobian in end-effector coordinate frame</td></tr>
<tr><td width="150"><a href="html/SerialLink.maniplty.html">SerialLink.maniplty</a></td><td width="300">compute manipulability</td></tr>
<tr><td width="150"><a href="html/SerialLink.nofriction.html">SerialLink.nofriction</a></td><td width="300">return a robot object with no friction</td></tr>
<tr><td width="150"><a href="html/SerialLink.perturb.html">SerialLink.perturb</a></td><td width="300">return a robot object with perturbed parameters</td></tr>
<tr><td width="150"><a href="html/SerialLink.plot.html">SerialLink.plot</a></td><td width="300">plot/animate robot</td></tr>
<tr><td width="150"><a href="html/SerialLink.rne.html">SerialLink.rne</a></td><td width="300">inverse dynamics</td></tr>
<tr><td width="150"><a href="html/SerialLink.teach.html">SerialLink.teach</a></td><td width="300">drive a graphical  robot</td></tr>
<tr><td width="150"><a href="html/skew.html">skew</a></td><td width="300">vector to skew symmetric matrix</td></tr>
<tr><td width="150"><a href="html/sl_bicycle.html">sl_bicycle</a></td><td width="300">Simulink "bicycle model" of non-holonomic wheeled vehicle</td></tr>
<tr><td width="150"><a href="html/sl_braitenberg.html">sl_braitenberg</a></td><td width="300">Simulink model a Braitenberg vehicle</td></tr>
<tr><td width="150"><a href="html/sl_quadcopter.html">sl_quadcopter</a></td><td width="300">Simulink model of a flying quadcopter</td></tr>
<tr><td width="150"><a href="html/t2r.html">t2r</a></td><td width="300">HT to RM</td></tr>
<tr><td width="150"><a href="html/tb_optparse.html">tb_optparse</a></td><td width="300">toolbox argument parser</td></tr>
<tr><td width="150"><a href="html/tpoly.html">tpoly</a></td><td width="300">1D polynomial trajectory</td></tr>
<tr><td width="150"><a href="html/tr2angvec.html">tr2angvec</a></td><td width="300">HT/RM to angle/vector form</td></tr>
<tr><td width="150"><a href="html/tr2delta.html">tr2delta</a></td><td width="300">HT to differential motion vector</td></tr>
<tr><td width="150"><a href="html/tr2eul.html">tr2eul</a></td><td width="300">HT/RM to Euler angles</td></tr>
<tr><td width="150"><a href="html/tr2jac.html">tr2jac</a></td><td width="300">HT to Jacobian</td></tr>
<tr><td width="150"><a href="html/tr2rpy.html">tr2rpy</a></td><td width="300">HT/RM to roll/pitch/yaw angles</td></tr>
<tr><td width="150"><a href="html/tr2rt.html">tr2rt</a></td><td width="300">HT to (R,t)</td></tr>
<tr><td width="150"><a href="html/tranimate.html">tranimate</a></td><td width="300">animate a coordinate frame</td></tr>
<tr><td width="150"><a href="html/transl.html">transl</a></td><td width="300">set or extract the translational component of HT</td></tr>
<tr><td width="150"><a href="html/trinterp.html">trinterp</a></td><td width="300">interpolate HT s</td></tr>
<tr><td width="150"><a href="html/trnorm.html">trnorm</a></td><td width="300">normalize HT</td></tr>
<tr><td width="150"><a href="html/trotx.html">trotx</a></td><td width="300">HT for rotation about X-axis</td></tr>
<tr><td width="150"><a href="html/troty.html">troty</a></td><td width="300">HT for rotation about Y-axis</td></tr>
<tr><td width="150"><a href="html/trotz.html">trotz</a></td><td width="300">HT for rotation about Z-axis</td></tr>
<tr><td width="150"><a href="html/trplot.html">trplot</a></td><td width="300">plot HT as a coordinate frame</td></tr>
<tr><td width="150"><a href="html/trplot2.html">trplot2</a></td><td width="300">plot HT, SE(2), as a coordinate frame</td></tr>
<tr><td width="150"><a href="html/unit.html">unit</a></td><td width="300">unitize a vector</td></tr>
<tr><td width="150"><a href="html/Vehicle.html">Vehicle</a></td><td width="300">construct a mobile robot object</td></tr>
<tr><td width="150"><a href="html/vex.html">vex</a></td><td width="300">skew symmetric matrix to vector</td></tr>
<tr><td width="150"><a href="html/walking.html">walking</a></td><td width="300">example of 4-legged walking robot</td></tr>
<tr><td width="150"><a href="html/wtrans.html">wtrans</a></td><td width="300">transform wrench between frames</td></tr>
<tr><td width="150"><a href="html/wtrans.html">wtrans</a></td><td width="300">transform a force/moment</td></tr>
</table></p>
<p><ul>
<li>HT = homogeneous transformation, a 4x4 matrix, belongs to the group SE(3).</li>
<li>RM = RM, an orthonormal 3x3 matrix, belongs to the group SO(3).</li>
<li>Functions of the form <b>tr2XX</b> will also accept a RM as the argument.</li>
<li> located in the examples folder</li>
</ul></p>
<br clear="all" /><hr />
<p>Copyright &copy; 1990-2011 <a href="http://www.petercorke.com">Peter Corke</a></p>
</body>
</html>
